/*           Spécifique : Petit            */
/*      <   Medium      -       (Pour tous les écrans inférieurs à Medium / tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
    .text-contact-us a {
        color: black;
    }

    .text-contact-us{
        margin: auto 5vw !important;
    }
}

.text-contact-us{
    margin: auto 20vw;
}

.text-contact-us a {
    color: black;
}
