footer {
    /* background-color: #f1b932;
    background-color: #ed7800;
    background-color: #63cc6c;
    background-color: #d43d4c;
    background-color: grey; */
    background-color: rgb(37,37,37);

    padding: 60px 0px 60px 0px;
    color: white;
    margin-top: 100px;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

.social-icon-dark {
    color: black;
}

.social-icon-light {
    color: white;
}

.social-icons:hover > a {
    opacity: 0.5;
}

.social-icons:hover > a:hover {
    opacity: 1;
}

.social-icons > a {
    padding: 10px;
}
.social-icons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-footer{
    width:120px;
    text-align: center;
}

.text a{
    color:white !important
}

.text div{
    padding-bottom: 10px;
}

.copyright{
    padding-top: 20px;
    font-size: small;
}

.copyright a{
    color: white;
}

.copyright a:hover{
    color: white;
}